html {
    font-family: "Netflix-sans";
}
html body{
    background-color: #141414;
    color: #e5e5e5;
}
#player{
    width: 100%;
}
@font-face {
    font-family: 'Netflix-sans';
    src: url('/fonts/NetflixSans-Regular.otf')
}

body header{
    font-size: 14px;
    background-image: url(/img/20210618_114823761_iOS.jpg);
    height: 864px;


}
header nav{
    align-items: center;
    padding: 0 60px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 68px;
    
}
nav a{
    color: #e5e5e5;
    font-size: 14px;
    text-decoration: none;
    
}
nav a.active{
    color: #ffffff;
    font-weight: bold;
}

div.scroll-container {
    /* background-color: #333; */
    padding:  0 35px;
    display: flex;
    /* width: 100%; */
    overflow-x: auto; 
}

div.scroll-container a {
    padding: 10px;
    max-width: 100%;
    width: 230.125px;
    margin: 0 3px;
    
    /* background-image: url(https://occ-0-769-1490.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABR_cKboUYKjANkG-HxyrnKram89LRQq7H0M8zWKZcapua7eBpYJJQdDSIPWaNsV2AOKLJly8je0jaxI3l8u-oDwxRfw63lqarhJZfRzBT3sRHbklHhsBXRVa1ExzR6LH6Rgb9UOUOPLTeyEjBeUAlaLPMmJ903bvIakc5FITnQX1ZZmzBNA6DqKTtQQpQ0TXKdRfgXPkclGkrovw-Y_IPd4TVs1d_Jj5X6skTooQTMrzR7ttDtcAbKPPSsUCIucGr3uFaAccvETTOyw7iFaeh9Og-hvW9G2QQgIQoR-LeHtkTv8YgmnGl7Ujbvrlm2pjmd6GW2p6h85hJ_se7f91OoUjpRRF.webp?r=686); */
    
}
div.scroll-container img{
    border-radius: 5px;    
    width: 230.125px;
}


  
/* NAVIGATION MENU STYLING! */

nav {
    display: flex;  
    gap: 15px;  
    
}



a{
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;  /* dit zorgt ervoor zodat alleen als er over de tekst wordt gehovverd dan popt hij het menu uit. */

}

.dropdown > .NavBarItem {
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.Subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
}

.dropdown:hover > .Subnav {
    display: block;
}

.SubNavItem {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}


.SubNavItem:hover {
    color: white;
}

.main h2{
    margin: 0 45px;
}

/* ----- Voor tablet ----- */
@media screen and (max-width: 786px) {

}




/* ----- Voor mobiel ----- */
@media screen and (max-width: 425px) {


}

