/* body{
    background-color: blue;
} */
#player{
    width: 100%;
}
@font-face {
    font-family: 'Netflix-sans';
    src: url('/fonts/NetflixSans-Regular.otf')
}

body .main{
    font-family: "Netflix-sans";
}

body header{
    height: 68px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    font-size: 14px;
    padding: 0 60px;
    align-items: center;
}

div.scroll-container {
    background-color: #333;
    padding: 10px;
    display: flex;
    width: 100%;
    overflow-x: auto; 
  }
  
  div.scroll-container img {
    padding: 10px;
    max-width: 100%; 
    height: auto;
  }

  
/* NAVIGATION MENU STYLING! */

/* NAVIGATION MENU STYLING! */

.dropdown {
    position: relative;
    display: inline-block; 
}

.dropdown > .NavBarItem {
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.Subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px;
    z-index: 100;
}

.dropdown:hover .Subnav {
    display: block;
}

.SubNavItem {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}

.SubNavItem:hover {
    background-color: black;
    color: #831010;
}
