html {
    font-family: "Netflix-sans";
}
html body{
    background-color: #141414;
    color: #e5e5e5;
}
#player{
    width: 100%;
}
@font-face {
    font-family: 'Netflix-sans';
    src: url('/fonts/NetflixSans-Regular.otf')
}

body header{
    font-size: 14px;
    background-image: url(/img/20210618_114823761_iOS.jpg);
    height: 864px;
}
header nav{
    align-items: center;
    padding: 0 60px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 68px;
    
}
nav a{
    color: #e5e5e5;
    font-size: 14px;
    text-decoration: none;
    
}
nav a.active{
    color: #ffffff;
    font-weight: bold;
}

div.scroll-container {
    /* background-color: #333; */
    padding: 10px;
    display: flex;
    /* width: 100%; */
    overflow-x: auto; 
}

div.scroll-container img {
    width: 230.125px;
    padding: 10px;
    max-width: 100%; 
    height: auto;
    border-radius: 14px;
  }

  
/* NAVIGATION MENU STYLING! */

nav {
    display: flex;  
    gap: 15px;  
    /* background-color: black;   */
}

.dropdown {
    position: relative;
    display: inline-block; 
}

a{
    text-decoration: none;
    color: white;
}

.dropdown > .NavBarItem {
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.Subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px;
}

.dropdown:hover .Subnav {
    display: block;
}

.SubNavItem {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}

.SubNavItem:hover {
    background-color: black;
    color: #831010;
}
